<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>servlets.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_User</servlet-name>
        <servlet-class>servlets.Delete_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit_Doctor</servlet-name>
        <servlet-class>servlets.Edit_Doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Randevouz</servlet-name>
        <servlet-class>servlets.Randevou</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit_Randevou</servlet-name>
        <servlet-class>servlets.Edit_Randevou</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Randevou</servlet-name>
        <servlet-class>servlets.Delete_Randevou</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get_BloodTests</servlet-name>
        <servlet-class>servlets.Get_BloodTests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get_Treatment</servlet-name>
        <servlet-class>servlets.Get_Treatment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Treatment</servlet-name>
        <servlet-class>servlets.Add_Treatment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Send_Message</servlet-name>
        <servlet-class>servlets.Send_Message</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>See_Messages</servlet-name>
        <servlet-class>servlets.See_Messages</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_User</servlet-name>
        <url-pattern>/Delete_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_Doctor</servlet-name>
        <url-pattern>/Edit_Doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Randevouz</servlet-name>
        <url-pattern>/Randevouz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_Randevou</servlet-name>
        <url-pattern>/Edit_Randevou</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Randevou</servlet-name>
        <url-pattern>/Delete_Randevou</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get_BloodTests</servlet-name>
        <url-pattern>/Get_BloodTests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get_Treatment</servlet-name>
        <url-pattern>/Get_Treatment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Treatment</servlet-name>
        <url-pattern>/Add_Treatment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Send_Message</servlet-name>
        <url-pattern>/Send_Message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>See_Messages</servlet-name>
        <url-pattern>/See_Messages</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
